
@{
    ViewBag.Title = "Register Sheet";
}

<div class="row" style="background-color:lightgreen;">
    <h2 style="text-align:left; margin-bottom:0px;margin-top:0px; margin-left:5px;">Register Sheet</h2>
</div>
<div class="row" style="background-color:lightblue;">
    <div class="col-md-12">
        <div class="col-md-6">
            <h3>MTA Metro-North Railroad</h3>
            <h3>Transportation Department</h3>
            <h3>Employee Register Sheet</h3>
        </div>
        <div class="col-md-6">
            <h3>Location : @ViewBag.ipAddress</h3>
            <h3>Day/Date : @DateTime.Now.ToString()</h3>
        </div>
    </div>
</div>
<hr />

<div class="row">
        <div class="col-md-12">
            <br />
        <p style="font-size:18px;">The undersigned hereby certifies that (s)he has been off duty as required by the Rule "F" and is in fit condition for duty. The undersigned Conductors, Trainmen, Engineers and Track Car Drivers further certify they have received and read the Daily Train Operations Bulletin Order and received and read all General Orders, Bulletin Orders, General Notices and Operations Notice listed on the top of the Daily Train Operations Bulletin Order and thoroughly understand those for the terretory over which qualified.</p>
    </div>
</div>